
{:paths ["source-code/clj"]
 :deps  {clj-git/clj-jgit         {:git/url "https://github.com/clj-jgit/clj-jgit"
                                   :sha     "55bfc2d49d38ac47663db19d38accf71d76fc551"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "140a9f4f83801fc97fe4760bd2acfc02a367dfd4"}
         bithandshake/cljc-io     {:git/url "https://github.com/bithandshake/cljc-io"
                                   :sha     "39eb850e3f5abac163a3b32d20834cff8d8305a4"}
         bithandshake/cljc-time   {:git/url "https://github.com/bithandshake/cljc-time"
                                   :sha     "c1e82e58468c9606e7471071eb57c6fecde8caca"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
