
{:paths ["source-code/clj"]
 :deps  {clj-git/clj-jgit         {:git/url "https://github.com/clj-jgit/clj-jgit"
                                   :sha     "55bfc2d49d38ac47663db19d38accf71d76fc551"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "7c042b3a4c6f8187fdc97ac29d7a9e55e3964707"}
         bithandshake/cljc-io     {:git/url "https://github.com/bithandshake/cljc-io"
                                   :sha     "6dd88f64eaad58fb86a2ce714fbebc5eadf235ea"}
         bithandshake/cljc-time   {:git/url "https://github.com/bithandshake/cljc-time"
                                   :sha     "35a0cd6cf805887ec642c8067cd79b8d9b9c702b"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
